* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loginContainer{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login{
    color: red;
    font-weight: bold;
    font-size: 34px; 
}